@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Rubik+Gemstones&display=swap');

@import "tailwindcss";

*{
     font-family: "Outfit", sans-serif;
}


@layer base{
    button  {
       @apply cursor-pointer ;
       
    }
}